<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sensores.css">
    <title>Luminosidad</title>
</head>
<body>
    <header>
        <h1>Control Luminosidad</h1>
    </header>
    <body>
        <main>
            <section id="container">
                <div id="container-info">
                    <h2>Modificar Máxima</h2>
                    <form method="post" class="form">
                        <div id="form-input">
                            <input type="submit" value="+" id="aumentar-luminosidad-maxima">
                            <label class="letra" id="luminosidad-maxima"></label>
                            <input type="submit" value="-" id="disminuir-luminosidad-maxima">
                        </div>
                    </form>
                </div>
                <div id="container-info">
                    <h2>Sensor</h2>
                    <form method="post" class="form">
                        <div id="form-input">
                            <input type="submit" value="+" id="aumentar-luminosidad">
                            <label class="letra" id="luminosidad-actual"></label>
                            <input type="submit" value="-" id="disminuir-luminosidad">
                        </div>
                    </form>
                </div>
                <div id="container-info">
                    <h2>Modificar Minima</h2>
                    <form method="post" class="form">
                        <div id="form-input">
                            <input type="submit" value="+" id="aumentar-luminosidad-minima">
                            <label class="letra" id="luminosidad-minima"></label>
                            <input type="submit" value="-" id="disminuir-luminosidad-minima">
                        </div>
                    </form>
                </div>
            </section>
            <section id="container"> 
                <div id="container-info">
                    <h2>Persiana</h2>
                    <div class="container-sensor-specific">
                        <p class="apagado" class="encendido" id="estado-persiana"></p>
                        <form id="botones">
                            <input type="submit" class="Encender" value="Subir" id="subir-persiana">
                            <input type="submit" class="Apagar" value="Bajar" id="bajar-persiana">
                        </form>
                    </div>
                </div>
            </section>
            <div id="botones">
                <a href="/">
                    <button>Pagina principal</button>
                </a>
            </div>
        </main>
    </body>
    <footer>

    </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="../js/luminosidad.js" defer></script>
<script type="module" src="../js/funciones.js" defer></script>
</html>