<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/sensores.css">
    <title>Luminosidad</title>
</head>
<body>
    <header>
        <h1>Control Dioxido de Carbono</h1>
    </header>
    <body>
        <main>
            <section id="container">
                <div id="container-info">
                    <h2>Modificar Máximo</h2>
                    <form method="post" class="form">
                        <div id="form-input">
                            <input type="submit" value="+" id="aumentar-dioxido-maximo">
                            <label class="letra" id="dioxido-maximo"></label>
                            <input type="submit" value="-" id="disminuir-dioxido-maximo">
                        </div>
                    </form>
                </div>
                <div id="container-info">
                    <h2>Sensor</h2>
                    <form method="post" class="form">
                        <div id="form-input">
                            <input type="submit" value="+" id="aumentar-dioxido">
                            <label class="letra" id="dioxido-actual"></label>
                            <input type="submit" value="-" id="disminuir-dioxido">
                        </div>
                    </form>
                </div>
                <div id="container-info">
                    <h2>Modificar Minimo</h2>
                    <form method="post" class="form">
                        <div id="form-input">
                            <input type="submit" value="+" id="aumentar-dioxido-minimo">
                            <label class="letra" id="dioxido-minimo"></label>
                            <input type="submit" value="-" id="disminuir-dioxido-minimo">
                        </div>
                    </form>
                </div>
            </section>
            <section id="container"> 
                <div id="container-info">
                    <h2>Aire Acondicionado</h2>
                    <div class="container-sensor-specific">
                        <p class="apagado" class="encendido" id="estado-filtro"></p>
                    </div>
                </div>
            </section>
            <div id="botones">
                <a href="/">
                    <button>Pagina principal</button>
                </a>
            </div>
        </main>
    </body>
    <footer>

    </footer>
</body>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="../js/dioxido.js" defer></script>
<script type="module" src="../js/funciones.js" defer></script>
</html>
</html>